.footer {
    color: #d1d1d1;
    bottom: 0;
    width: 100%;
}

.font-light {
    color: white !important;
}

.prefooter {
    bottom: 0;
    min-height: 3rem;
    width: 100% !important;
}

ul li a {
    color: #d1d1d1;
}

ul li a:hover { 
    text-decoration: none !important;
    color: #3898ff;
}