.main {
    min-height: 42.8rem;
    max-width: 100vw;
}

.wrapper {
    width: 18rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .wrapper {
    width: 22rem;
  }
}