/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

.body {
    background: #f2f2f2;
}

.alert.flash-message.custom-success {
    margin: 1rem;
    background: #4aa05f;
}

.alert.flash-message.custom-danger {
    margin: 1rem;
    background: #f57676;
}

.alert.flash-message > p {
  color: white;
  margin: 0;
}

.required {
    color: #d12d2d;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper>.card {
  flex: 0 0 auto;
  width: 18rem;
  height: 10rem;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

